# === PHP / Composer ===
composer.phar
/vendor/

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Assets / Build Artifacts ===
*.css.map
*.css
assets/js

# === Node / TypeScript ===
node_modules/
*.tsbuildinfo

# Temporary files
.tmp/
temp/

# === Environment Files ===
.env
.env.*.local
.env.local
.env.php

# === PHPStan ===
.phpstan/cache/
phpstan.neon.local
phpstan.neon.dist

# === PHPUnit ===
.phpunit.result.cache